:root {
    /*   color variables */
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
  
    /*   border radius */
    --radius: 0.2rem;
  }

html {
    margin: 0;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body {
    margin: 0;
    padding: 0;
    transition: 1s;
}    
@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@font-face { font-family: Paradox;
    src: url("resources/Paradox.ttf");
}


.nav {
    margin-right: 2vw;
    list-style: none;
    margin-top: -2vh;
}

.nav-logo {
    margin-right:auto;
    font-family: Paradox;
    font-size: 2.2vw;
    font-size: 4vh;
    padding:10px;
    cursor:pointer;
    text-decoration: none;
    color: darkgrey;
    transition: all 400ms ease;
}

.nav-logo:hover {
    color: lightblue;
}

.nav-list {
    list-style: none;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-item a {
    font-family: Montserrat, sans-serif;
    list-style: none;
    margin-right: 3rem;
    transition: all 400ms ease;
    text-decoration: none;
    color:darkgrey;
}

  .nav-item a:hover {
    color: lightblue;
  }

  .nav-item:first-child {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  
  .btn-primary {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    background: darkgrey;
    border: none;
    color: white;
    outline: none;
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 400ms ease-in;
    text-decoration: none;
  }
  
  .btn-primary:hover {
    background: lightblue;
    color:black;
  }
  
  #dark-mode-button {
    position: fixed;
    margin-top: 2vh;
    margin-left: 1.5vw;
    width: 1vw;
    height: 7vh;
    border-radius: 15px;
    background-color: black;
  }

  #dark-mode-slider {
    position: fixed;
    margin-left: -.3vw;
    margin-top: -3.2vh;
    width: .8vw;
    height: 2vh;
    border-radius: 15px;
    background-color: white;
  }