@font-face { font-family: Paradox;
    src: url("resources/Paradox.ttf");
}
html {
    margin: 0;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.nav {
    margin-left: -1.6vw;
    list-style: none;
    margin-top: 2.1vh;
}
.nav-logo {
    font-family: Paradox;
    font-size: 3vw;
    font-size: 6vh;
    text-decoration: none;
    color: navy;
    transition: all 400ms ease;
}

.nav-logo:hover {
    color: lightblue;
}

.downloadImage {
    display: block;
    margin-top: 70vh;
    transition: all 400ms ease;
    margin-left: auto;
    margin-right: auto;
    height: 12vh;
}

.downloadImage:hover {
    opacity: 75%;
}

#dark-mode-button {
    position: fixed;
    margin-top: .1vh;
    margin-left: 1.5vw;
    width: 1vw;
    height: 7vh;
    border-radius: 15px;
    background-color: black;
  }

  #dark-mode-button:hover {
    opacity: 75%;
  }

  #dark-mode-slider {
    position: fixed;
    margin-left: -.3vw;
    margin-top: -3.2vh;
    width: .8vw;
    height: 2vh;
    border-radius: 15px;
    background-color: white;
  }

  #darkmodeindicator {
    position: fixed;
    width:3vh;
    margin-left: 1.3vw;
    margin-top: -82vh;
  }